<!DOCTYPE HTML>
<html>
<head>
    <title>Kårsdragets julkalender - admin</title>

    {{> header}}

    <div class="container">
        <div class="col-xs-12">

            <div class="panel panel-default">
                <table class="table">
                    <tbody>
                    <tr onclick="document.location = 'framsida-admin';">
                        <th scope="row">0</th>
                        <td><img src="kalender.jpg" class="img-responsive img-thumbnail" width="200"></td>
                        <td></td>
                        <td><span class="label label-success">Klar</span></td>
                    </tr>

                    {{#hatches}}

                        <tr onclick="document.location = 'luck-admin/{{number}}';">
                            <th scope="row">{{number}}</th>
                            <td><img src="lucka1.jpg" class="img-responsive img-thumbnail" width="200"></td>
                            <td>{{rhyme}}
                            </td>
                            <td><span class="label label-success">Klar</span></td>
                        </tr>

                    {{/hatches}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{> footer}}



