<!DOCTYPE HTML>
<html>
<head>
    <title>Kårsdragets julkalender - framsida</title>

    {{> header}}

    <div class="container">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-10 hatch-border">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Framsida</h1>
                    <ul class="pager">
                        <li class="previous"><a href="/admin">Tillbaka till admin</a></li>
                        <li class="next"><a href="lucka/1">Första luckan &gt;&gt;&gt;</a></li>
                    </ul>
                    <br>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="post">

                        <div class="form-group form-group-lg">
                            <label class="col-xs-2 control-label" for="name">Välj en bild</label>
                            <div class="col-xs-10">
                                <input class="form-control" type="file" id="name" name="name">
                            </div>
                        </div>

                        <br>
                        <input class="btn pull-left" type="submit" value="Tjuvkika">
                        <input class="btn pull-right" type="submit" value="Spara">
                    </form>
                    <br>
                    <br>

                </div>
            </div>
        </div>
        <div class="col-xs-1">
        </div>
    </div>

    {{> footer}}
