<!DOCTYPE HTML>
<html>
<head>
    <title>Kårsdragets julkalender - lucka</title>

    {{> header}}

    <div class="container">
        <div class="col-xs-12 hatch-border">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Lucka {{current}}</h1>
                    <ul class="pager">
                        <li class="previous"><a href="/lucka/{{previous}}">&lt;&lt;&lt; Föregående lucka</a></li>
                        <li><a href="/">Tillbaka till julkalendern</a></li>
                        <li class="next"><a href="/lucka/{{next}}">Nästa lucka &gt;&gt;&gt;</a></li>
                    </ul>
                    <br>
                </div>
                <div class="panel-body">

                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                                src="https://www.youtube.com/embed/Cj9uJJ1r3cc"
                                frameborder="0"
                                allowfullscreen>
                        </iframe>
                    </div>

                    <br>
                    <br>
                    <p class="vers">
                        {{{hatch.rhyme}}}
                    </p>

                    <p class='fotograf'>Foto: {{hatch.photographer}}
                        <br>
                        Vers: {{hatch.vers}}
                    </p>

                    <br>
                    <br>
                    <br>
                    <hr>

                    <form role="form" method="post">
                        <h3>Kommentarer</h3>

                        <div class="form-group">
                            <label for="name">Jag kallar mig</label>
                            <input class="form-control" type="text" id="name" name="name">
                        </div>

                        <div class="form-group">
                            <label for="comment">Min åsikt är</label>
                            <textarea class="form-control" rows="3" id="comment" name="comment"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="summa">Jag är inte besvärlig och kan räkna ut vad 17 + 13 är</label>
                            <input class="form-control" type="text" id="summa" name="summa">
                        </div>
                        <input type="hidden" value="14" name="hatch">
                        <br>
                        <input class="btn btn-default pull-right" type="submit" value="Snälla, berätta nu för de andra">
                    </form>
                    <br>
                    <br>

                    <div class='row'>
                        <div class="col-xs-1"></div>
                        <div class="col-xs-10">
                            <hr>
                            <p>
                                <b>Skickat:</b>&nbsp;16:46:54 - 14/12<br>
                                <b>Av:</b>&nbsp;Mamma-Karin<br>
                                Så vackert! Och Roberts kommentarer haha!
                            </p>
                        </div>
                        <div class="col-xs-1"></div>
                    </div>

                    <div class='row'>
                        <div class="col-xs-1"></div>
                        <div class="col-xs-10">
                            <hr>
                            <p>
                                <b>Skickat:</b>&nbsp;11:01:36 - 14/12<br>
                                <b>Av:</b>&nbsp;M-I<br>
                                Jaaa! Fina styrelsen!
                            </p>
                        </div>
                        <div class="col-xs-1"></div>
                    </div>

                    <div class='row'>
                        <div class="col-xs-1"></div>
                        <div class="col-xs-10">
                            <hr>
                            <p>
                                <b>Skickat:</b>&nbsp;08:47:45 - 14/12<br>
                                <b>Av:</b>&nbsp;Hahaha<br>
                                &#128514;&#128156;&#128518;
                            </p>

                        </div>
                        <div class="col-xs-1"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {{> footer}}
