<!DOCTYPE HTML>
<html>
<head>
    <title>Kårsdragets julkalender - lucka</title>

    {{> header}}

    <div class="container">
        <div class="col-xs-1">
            <!-- todo use border.jpg to create a border around the hatch -->

        </div>
        <div class="col-xs-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Lucka 14</h1>

                    <a class="col-xs-4" align="left" href='lucka/13'>&lt;&lt;Föregående lucka</a>
                    <a class="col-xs-4" align="center" href='/'>Tillbaka till julkalendern</a>
                    <a class="col-xs-4" align="right" href='lucka/15'>Nästa lucka &gt;&gt;</a>
                    <br>
                </div>

                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div class="col-xs-1">
            <!-- todo use border.jpg to create a border around the hatch -->
        </div>
    </div>

    {{> footer}}
