<!DOCTYPE HTML>
<html>
<head>
    <title>Kårsdragets julkalender - lucka</title>

    {{> header}}

    <div class="container">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-10 hatch-border">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Lucka 14</h1>
                    <ul class="pager">
                        <li class="previous"><a href="lucka/13">&lt;&lt;&lt; Föregående lucka</a></li>
                        <li><a href="/">Tillbaka till julkalendern</a></li>
                        <li class="next"><a href="lucka/15">Nästa lucka &gt;&gt;&gt;</a></li>
                    </ul>
                    <br>
                </div>
                <div class="panel-body">
                    <iframe width="560"
                            height="315"
                            src="https://www.youtube.com/embed/Cj9uJJ1r3cc"
                            frameborder="0"
                            allowfullscreen>
                    </iframe>
                    <br>
                    <br>
                    <p class="vers">
                        Att dansa är bara <br>
                        ett annat sätt för dem att vara <br>
                        vår allra mysigaste lilla styrelseskara
                    </p>

                    <p class='fotograf'>Foto: kårt
                        <br>
                        Vers: mas</p>

                    <br>
                    <br>
                    <br>
                    <hr>

                    <form class="form-horizontal" role="form" method="post">
                        <h3>Kommentarer</h3>
                        <div class="form-group form-group-lg">
                            <label class="col-sm-2 control-label" for="name">Jag kallar mig</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="name" name="name">
                            </div>
                            <br>
                            <label class="col-sm-2 control-label" for="comment">Min åsikt är</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" id="comment" name="comment"></textarea>
                            </div>
                            <label class="col-sm-7 control-label" for="summa">
                                Jag är inte besvärlig och kan räkna ut vad 17 + 13 är:
                            </label>
                            <div class="col-sm-5">
                                <input class="form-control" type="text" id="summa" name="summa">
                            </div>
                        </div>
                        <input type="hidden" value="14" name="hatch">
                        <br>
                        <input class="btn pull-right" type="submit" value="Snälla, berätta nu för de andra">
                    </form>
                    <br>
                    <br>

                    <div class='row'>
                        <div class="col-xs-1"></div>
                        <div class="col-xs-10">
                            <hr>
                            <p>
                                <b>Skickat:</b>&nbsp;16:46:54 - 14/12<br>
                                <b>Av:</b>&nbsp;Mamma-Karin<br>
                                Så vackert! Och Roberts kommentarer haha!
                            </p>
                        </div>
                        <div class="col-xs-1"></div>
                    </div>

                    <div class='row'>
                        <div class="col-xs-1"></div>
                        <div class="col-xs-10">
                            <hr>
                            <p>
                                <b>Skickat:</b>&nbsp;11:01:36 - 14/12<br>
                                <b>Av:</b>&nbsp;M-I<br>
                                Jaaa! Fina styrelsen!
                            </p>
                        </div>
                        <div class="col-xs-1"></div>
                    </div>

                    <div class='row'>
                        <div class="col-xs-1"></div>
                        <div class="col-xs-10">
                            <hr>
                            <p>
                                <b>Skickat:</b>&nbsp;08:47:45 - 14/12<br>
                                <b>Av:</b>&nbsp;Hahaha<br>
                                &#128514;&#128156;&#128518;
                            </p>

                        </div>
                        <div class="col-xs-1"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-1">
        </div>
    </div>

    {{> footer}}
