<!DOCTYPE HTML>
<html>
<head>
    <title>Kårsdragets julkalender - lucka</title>

    {{> header}}

    <div class="container">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-11 hatch-border">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Lucka 14</h1>
                    <ul class="pager">
                        <li class="previous"><a href="lucka/13">&lt;&lt;&lt; Föregående lucka</a></li>
                        <li><a href="/kalender-admin">Tillbaka till admin</a></li>
                        <li class="next"><a href="lucka/15">Nästa lucka &gt;&gt;&gt;</a></li>
                    </ul>
                    <br>
                </div>
                <div class="panel-body">

                    <form class="form-horizontal" role="form" method="post">

                        <div class="form-group form-group-lg">
                            <label class="col-xs-1 control-label" for="name">Bilder</label>
                            <div class="col-xs-11">
                                <div class="sortable">
                                    <div class="col-xs-2">
                                        <img src="lucka1.jpg" class="img-responsive img-thumbnail">
                                        <br>
                                        <input class="btn center-block" type="submit" value="Delete">
                                    </div>

                                    <div class="col-xs-2">
                                        <img src="lucka1-1.jpg" class="img-responsive img-thumbnail">
                                        <br>
                                        <input class="btn center-block" type="submit" value="Delete">
                                    </div>
                                </div>

                                <div class="pull-right">
                                    <input type="file" id="name" name="name">
                                </div>
                            </div>

                            <label class="col-xs-1 control-label" for="name">Rim</label>
                            <div class="col-xs-11">
                                <textarea class="form-control" rows="8" id="comment" name="comment"></textarea>
                            </div>

                            <label class="col-xs-1 control-label" for="comment">Vers</label>
                            <div class="col-xs-11">
                                <input class="form-control" type="text" id="summa" name="summa">
                            </div>

                            <label class="col-xs-1 control-label" for="comment">Foto</label>
                            <div class="col-xs-11">
                                <input class="form-control" type="text" id="summa" name="summa">
                            </div>

                            <label class="col-xs-1 control-label" for="name">Todo</label>
                            <div class="col-xs-11">
                                <textarea class="form-control" rows="8" id="comment" name="comment"></textarea>
                            </div>

                        </div>
                        <input type="hidden" value="14" name="hatch">
                        <br>
                        <div class="col-xs-1">
                        </div>

                        <div class="col-xs-11">
                            <input class="btn pull-left" type="submit" value="Tjuvtitta">
                            <div class="pull-right">
                                <input type="radio" name="status" value="done"> <span
                                    class="label label-success">Klar</span>
                                <br>
                                <input type="radio" name="status" value="undone" checked> <span
                                    class="label label-primary">Oklar</span>
                                <br>
                                <input type="radio" name="status" value="bad"> <span
                                    class="label label-danger">Dålig</span>
                            </div>
                        </div>

                    </form>
                    <br>
                    <br>

                </div>
            </div>
        </div>
        <div class="col-xs-1">
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".sortable").sortable({items: 'div:not(.unsortable)', placeholder: 'sortable-placeholder'});
            $(".sortable").disableSelection();
        });
    </script>

    {{> footer}}
