<!DOCTYPE HTML>
<html>
<head>
    <title>Kårsdragets julkalender</title>

    {{> header}}

    <div class="container">
        <div class="col-sm-12">
            <p align="left">
                Hello, world!
            </p>
            <p align="right">
                Goodbye, world!
            </p>
        </div>
    </div>

    {{> footer}}

</html>