<!DOCTYPE HTML>
<html>
<head>
    <title>Kårsdragets julkalender</title>

    {{> header}}

    <div class="container">
        <div class="col-xs-12">
            <img class="img-responsive center-block" src="/kalender.jpg" alt="Här är julkalendern">
        </div>
    </div>

    {{> footer}}
