<!DOCTYPE HTML>
<html>
<head>
    <title>Kårsdragets julkalender - lucka</title>

    {{> header}}

    <div class="container">
        <div class="col-xs-12 hatch-border">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Stopp din gamla tomte!</h1>
                </div>
                <div class="panel-body">

                    <div class="embed-responsive embed-responsive-16by9">
                        <img class="center-block" src="/stop.gif">
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>

    {{> footer}}
